{% extends "base.html" %}
{% set active_page ='assets_listview' -%}

{% block title %}Assets{% endblock %}

{% block body %}
    <main>
        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Rate to {{ local_currency }}</th>
                    <th>Quantity</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="assets-table-body">
                {% for asset in assets %}
                <tr onclick="window.location='#{{ asset.id }}'; loadGraph();">
                    <form method="POST">
                    <td>{{ asset.id }}</td>
                    <td>{{ asset.name }}</td>
                    <td>{{ asset.rate }}</td>
                    
                    <td> 
                            
                               <input id="input_text" type="text" data-length="6">
                               <label for="input_text">Cnt:</label>
                          
                       </td>
                    <td> 
                       
                        <a class="waves-effect waves-light btn-small" href="/buy?id={{ asset.id }}&name={{asset.name}}&rate={{asset.rate}}" >Buy</a> 
                        <a class="waves-effect waves-light btn-small" href="/sell?id={{ asset.id }}&name={{asset.name}}&rate={{asset.rate}}">Sell</a> 
                        
                        
                    </td>
                    </form>
                </tr>
                

                {% endfor %}
            </tbody>
        </table>
    </main>

    {% if graphJSON %}
        {% include "assets/graph.html" %}
    {% endif %}
{% endblock %}
