{% extends "base.html" %}
{% set active_page ='assets_listview' -%}

{% block title %}Assets{% endblock %}

{% block body %}
    <main>
        <table class="responsive-table highlight">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Rate to {{ local_currency }}</th>
                </tr>
            </thead>
            <tbody id="assets-table-body">
                {% for asset in assets %}
                <tr onclick="window.location='#{{ asset.id }}'; loadGraph();">
                    <td>{{ asset.id }}</td>
                    <td>{{ asset.name }}</td>
                    <td>{{ asset.rate }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

    {% if graphJSON %}
        {% include "assets/graph.html" %}
    {% endif %}
{% endblock %}
