{% extends "base.html" %}
{% set active_page ='assets_listview' -%}

{% block title %}Assets{% endblock %}

{% block main %}
    <table>
        <tr>
            <th>ID</th>
            <th>Asset</th>
            <th>Rate to {{ local_currency }}</th>
        </tr>
        {% for asset in assets %}
        <tr>
            <a href="/{{asset.id}}">
                <td>{{asset.id}}</td>
            </a>
            <td>{{asset.name}}</td>
            <td>{{asset.rate}}</td>
        </tr>
        {% endfor %}
    </table>

    {% if graphJSON %}
        {% for id in ids %}
            <h3>{{id}}</h3>
            <div id="{{id}}"></div>
        {% endfor %}

        {% include "assets/graph.html" %}
    {% endif %}
{% endblock %}
