<footer>
    <div id="graph-container" class="graph"></div>

    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script type="text/javascript">
        function loadGraph() {
            Plotly.purge("graph-container");
            var asset = window.location.hash.substr(1);

            if (!asset) {
                asset = document.getElementById("assets-table-body")
                                .firstElementChild
                                .firstElementChild
                                .textContent;
            }

            var graphs = {{ graphJSON | safe }};

            Plotly.plot("graph-container", // the ID of the div, created above
                        graphs[asset].data,
                        graphs[asset].layout || {});
        }

        loadGraph();
    </script>
</footer>
