{% set navigation_bar = [
    ('/', 'index', 'Index'),
    ('/assets', 'assets_listview', 'Assets'),
    ('/investments', 'investments_listview', 'My Investments')
] -%}
{% set active_page = active_page|default('index') -%}

{% block nav %}
<ul id="slide-out" class="sidenav sidenav-fixed">
    {% for href, id, caption in navigation_bar %}
    <li{% if id == active_page %} class="active" {% endif %}>
        <a href="{{ href|e }}">{{ caption|e }}</a>
    </li>
    {% endfor %}
</ul>

<script type="text/javascript">
    $(document).ready(function(){
      $('.sidenav').sidenav();
    });
</script>
{% endblock %}
